footer.footer
  p.footer__cooperate.footer__text--size © 2019 CPS <br> Разработано командой Apesong
  a(href="/").footer__link.footer__text--size Политика конфиденциальности
  p.footer__text.footer__text--size  Информация, размещенная на данной странице, не является публичной офертой