// font-size
$text-size: 1rem;
$text-size-small: 0.875rem;
$h1-size: 1.75rem;

// font-color
$text-color: #1b1c21;
$text-color-second: #7e7e82;
$h1-color: #1b1c21;
$h2-color: #7e7e82;

// block-element-color
$button-color: #ff3e79;
$button-border: #b8ffec;
$mark-color: #d9fff5;
$mark2-color: #41f6d7;
$slide-border-color: #eaeaea;

// window-size
$mobile-size: 320px;
$laptop-size: 768px;
$desktop-size: 1440px;
