-
  let input = [
    {inputType: 'tel', inputPlaceholder: 'Телефон'},
  ]
.form-wrapper.form-call
  .form-overlay
  .form-container
    .form-close
      button.form-closer
    form(action="").form.form-default
      .form-header
        h2.form-header__title Заказать звонок
      .form-content
        each inputs in input
          input(type=inputs.inputType placeholder=inputs.inputPlaceholder).form-content__input
      .form-actions
        p.form-actions__text Нажимая “отправить”, вы даете согласие на <a href="/" class="form-actions__text--color">обработку персональных данных</a> и соглашаетесь с нашей <a href="/" class="form-actions__text--color">политикой конфиденциальности</a>
        button(type="submit").form-button ОТПРАВИТЬ